.price {
  font-weight: 300;
  margin-bottom: 4px;
  .dashboard & {
    font-weight: 500;
  }
}

.price-change {
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
  margin-bottom: 31px;
}

.price-change-time {
  color: $light-placeholder;
  font-weight: 400;
  .dark & {
    color: $dark-placeholder;
  }
}

.graph-placeholder {
  align-items: center;
  display: flex;
  height: 219px;
  justify-content: center;
}

.time {
  color: $light-placeholder;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  .dark & {
    color: $dark-placeholder;
  }
}

.graph {
  margin-top: 12px;
  margin-bottom: 44px;
  ul {
    display: flex;
    border-bottom: 1px solid $light-border;
    list-style: none;
    margin: 0;
    margin-top: 24px;
    padding: 0;
    .dark & {
      border-bottom: 1px solid $dark-border;
    }
    li {
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
    }
    button, .button {
      background: none;
      border: none;
      border-bottom: 2px hidden;
      border-radius: 0;
      color: $light-foreground;
      font-size: 13px;
      font-weight: 500;
      outline: none;
      margin: 0;
      padding: 0;
      padding-bottom: 12px;
      .dark & {
        color: $dark-foreground;
      }
      &:hover, &:active, &.active {
        background: none;
        color: $green;
        .red & {
          color: $red;
        }
      }
      &.active {
        border-bottom: 2px solid $green;
        border-radius: 0;
        .red & {
          border-color: $red;
        }
      }
    }
  }
}

.line-chart {
  width: 100%;
}

.hide {
  display: none;
}

.recharts-tooltip-cursor {
  stroke: $light-placeholder;
  .dark & {
    stroke: $dark-placeholder;
  }
}

.recharts-active-dot {
  stroke: $light-background;
  .dark & {
    stroke: $dark-background;
  }
}

.recharts-line {
  stroke: $green;
  .red & {
    stroke: $red;
  }
}

.recharts-active-dot {
  fill: $green;
  .red & {
    fill: $red;
  }
}
