.news {
  list-style: none;
  margin: 0;
  margin-top: -24px;
  padding: 0;
  li a {
    color: $light-foreground;
    display: flex;
    margin: 0 -30px;
    padding: 30px;
    text-decoration: none;
    .dark & {
      color: $dark-foreground;
    }
    &:hover {
      background: $light-dark-background;
      .dark & {
        background: $dark-dark-background;
      }
    }
  }
  .image {
    margin-right: 24px;
    & > div {
      background-position: center;
      background-size: cover;
      border-radius: 4px;
      flex-basis: 196px;
      height: 134px;
      width: 196px;
    }
  }
  p {
    font-weight: 300;
    margin: 2px 0 0 0;
  }
}
