.stock-page {
  display: flex;
}

.stock-main {
  flex: 12;
  margin-right: 60px;
}

.stock-sidebar {
  flex: 5;
}

.price {
  font-weight: 400;
  margin-bottom: 31px;
}

.time {
  color: $light-placeholder;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  .dark & {
    color: $dark-placeholder;
  }
}

.graph {
  margin-top: 12px;
  margin-bottom: 44px;
  ul {
    display: flex;
    border-bottom: 1px solid $light-dark-background;
    list-style: none;
    margin: 0;
    margin-top: 24px;
    padding: 0;
    .dark & {
      border-bottom: 1px solid $dark-dark-background;
    }
    li {
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
    }
    button, .button {
      cursor: pointer;
      background: none;
      border: none;
      border-bottom: 2px hidden;
      border-radius: 0;
      color: $light-foreground;
      font-size: 13px;
      font-weight: 500;
      outline: none;
      margin: 0;
      padding: 0;
      padding-bottom: 12px;
      .dark & {
        color: $dark-foreground;
      }
      &:hover, &:active {
        background: none;
        color: #21ce99;
      }
      &.active {
        border-bottom: 2px solid #21ce99;
        border-radius: 0;
      }
    }
  }
}

.line-chart {
  width: 100%;
}

#price.hide {
  display: none;
}

.recharts-tooltip-cursor {
  stroke: $light-placeholder;
  .dark & {
    stroke: $dark-placeholder;
  }
}

.recharts-active-dot {
  stroke: $light-background;
  .dark & {
    stroke: $dark-background;
  }
}
