.stock-page {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.stock-main {
  width: 679px;
}

.price {
  font-weight: 400;
  margin-bottom: 31px;
}

.time {
  color: $light-placeholder;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  .dark & {
    color: $dark-placeholder;
  }
}

.graph {
  margin-top: 12px;
  margin-bottom: 44px;
  ul {
    display: flex;
    border-bottom: 1px solid $light-border;
    list-style: none;
    margin: 0;
    margin-top: 24px;
    padding: 0;
    .dark & {
      border-bottom: 1px solid $dark-border;
    }
    li {
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
    }
    button, .button {
      background: none;
      border: none;
      border-bottom: 2px hidden;
      border-radius: 0;
      color: $light-foreground;
      font-size: 13px;
      font-weight: 500;
      outline: none;
      margin: 0;
      padding: 0;
      padding-bottom: 12px;
      .dark & {
        color: $dark-foreground;
      }
      &:hover, &:active, &.active {
        background: none;
        color: $green;
        .red & {
          color: $red;
        }
      }
      &.active {
        border-bottom: 2px solid $green;
        border-radius: 0;
        .red & {
          border-color: $red;
        }
      }
    }
  }
}

.line-chart {
  width: 100%;
}

#price.hide {
  display: none;
}

.recharts-tooltip-cursor {
  stroke: $light-placeholder;
  .dark & {
    stroke: $dark-placeholder;
  }
}

.recharts-active-dot {
  stroke: $light-background;
  .dark & {
    stroke: $dark-background;
  }
}

.recharts-line {
  stroke: $green;
  .red & {
    stroke: $red;
  }
}

.recharts-active-dot {
  fill: $green;
  .red & {
    fill: $red;
  }
}

.sidebar-container {
  width: 276px;
}

.stock-sidebar {
  background: $light-background;
  box-shadow: 0 0 4px 1px $small-shadow, 0 3px 24px $light-shadow;
  padding-top: 4px;
  position: fixed;
  top: 100px;
  width: 276px;
  .dark & {
    background: $dark-background;
    box-shadow: 0 0 4px 1px $small-shadow, 0 3px 24px $dark-shadow;
  }
  & section, & > h3, & form {
    padding: 0 24px;
  }
  .buying-power {
    border-top: 1px solid $light-border;
    font-size: 13px;
    line-height: 16px;
    padding: 16px 0;
    text-align: center;
    .dark & {
      border-color: $dark-border;
    }
  }
  h3 {
    border-bottom: 1px solid $light-border;
    font-size: 16px;
    line-height: 47px;
    .dark & {
      border-bottom: 1px solid $dark-border;
      &:last-child {
        border-bottom: none;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

.stock-form {
  label, .form-group {
    -webkit-appearance: none;
    align-items: center;
    display: flex;
    font-size: 13px;
    height: 36px;
    justify-content: space-between;
    margin: 0;
    padding: 6px 0;
    &.bold {
      font-weight: 500;
    }
    &.cost {
      border-top: 1px solid $light-border;
      .dark & {
        border-top-color: $dark-border;
      }
    }
    input {
      font-size: 13px;
      font-weight: 400;
      height: 36px;
      padding: 0 13px;
      width: 82px;
      &[type="number"] {
        text-align: right;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
  }
  input[type="submit"] {
    color: $dark-background;
    font-size: 13px;
    font-weight: 500;
    height: 48px;
    padding: 0 32px;
    &:hover, &:active {
      background: $light-green;
      .red & {
        background: $light-red;
      }
    }
  }
}
