@import "colors";

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body.light {
  background: $light-background;
  color: $light-foreground;
}

body.dark {
  background: $dark-background;
  color: $dark-foreground;
}

.app {
  margin: auto;
  max-width: 1024px;
}

main {
  box-sizing: border-box;
  min-height: calc(100vh - 64px);
  padding-top: 36px;
  padding-bottom: 24px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1 {
  font-size: 36px;
  margin: 0;
}

h2 {
  border-bottom: 1px solid $light-dark-background;
  font-size: 26px;
  margin-bottom: 24px;
  padding-bottom: 16px;
  .dark & {
    border-bottom: 1px solid $dark-dark-background;
  }
}

p {
  font-weight: 400;
  line-height: 1.375;
}

label {
  display: block;
  margin: 24px 0;
}

input, button, .button {
  color: inherit;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  font-size: 18px;
  padding: 10px 16px 10px 18px;
  width: 100%;
  &[type="text"],
  &[type="email"],
  &[type="password"],
  &[type="number"] {
    background: transparent;
    border: 1px solid rgb(177, 191, 196);
    font-weight: 300;
    outline: none;
    transition: border-color ease-in-out .15s;
    &:focus {
      border-color: #21ce99;
    }
  }
}

input[type="submit"], button, .button {
  background: #21ce99;
  border: none;
  color: white;
  margin: 24px 0;
  &:hover, &:active {
    background: #1aa278;
  }
}

::placeholder {
  color: rgb(177, 191, 196);
}

.errors {
  color: #f45531;
  font-weight: 400;
}

@import "header";
@import "components/log_in";
@import "components/sign_up";
@import "components/stock";
@import "components/splash";
