header {
  align-items: center;
  display: flex;
  height: 64px;
}

.logo {
  color: inherit;
  fill: currentColor;
  left: 48px;
  position: absolute;
  transition: color 0.3s ease-out 0s;
}

.logo:hover {
  color: #21ce99;
}

.navLogoStar {
  display: none;
}

.search-bar {
  position: relative;
  .search-icon {
    fill: #cbcbcd;
    left: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: fill .15s ease-out;
  }
  ::placeholder {
    color: #cbcbcd;
  }
  input {
    border: 1px solid #f4f4f5;
    font-size: 13px;
    line-height: 34px;
    outline: none;
    padding: 1px 24px 1px 52px;
    width: 478px;
    transition: border-color .15s ease-out, box-shadow .15s ease-out;
    &::placeholder {
      transition: color .15s ease-out;
    }
  }
  input:hover, input:focus {
    border-color: white;
    box-shadow: 0 0 4px 1px rgba(0,0,0,.01), 0 3px 24px rgba(48,51,51,.09);
    &::placeholder {
      color: rgb(23, 23, 24);
    }
    & + .search-icon {
      fill: rgb(23, 23, 24);
    }
  }
}

nav {
  position: absolute;
  right: 48px;
  ul {
    display: flex;
    line-height: 64px;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-right: 33px;
    }
    li:last-child {
      margin-right: 0;
    }
  }
  a, button {
    border: none;
    color: rgb(23, 23, 24);
    cursor: pointer;
    display: inline;
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-decoration: none;
    &:hover {
      color: #21ce99;
    }
  }
}
