.container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.main {
  section {
    margin-bottom: 60px;
  }
  width: 679px;
}

.sidebar {
  position: fixed;
  top: 100px;
  width: 276px;
}

.sidebar-card {
  background: $light-background;
  box-shadow: 0 0 4px 1px $small-shadow, 0 3px 24px $light-shadow;
  max-height: calc(100vh - 140px);
  overflow: scroll;
  padding-top: 4px;
  .dark & {
    background: $dark-background;
    box-shadow: 0 0 4px 1px $small-shadow, 0 3px 24px $dark-shadow;
  }
  & ul {
    list-style: none;
    margin: 0;
    padding: 0 24px;
  }
  & > div {
    border-bottom: 1px solid $light-border;
    .dark & {
      border-bottom: 1px solid $dark-border;
      &:last-child {
        border-bottom: none;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
  & section, & h3, & form {
    padding: 0 24px;
  }
  & form {
    margin-top: 12px;
  }
  .user-info {
    border-top: 1px solid $light-border;
    font-size: 13px;
    line-height: 16px;
    padding: 16px 0;
    text-align: center;
    .dark & {
      border-color: $dark-border;
    }
  }
  h3 {
    border-bottom: 1px solid $light-border;
    display: flex;
    font-size: 16px;
    .dark & {
      border-bottom: 1px solid $dark-border;
      &:last-child {
        border-bottom: none;
      }
    }
    &:last-child {
      border-bottom: none;
    }
    div {
      line-height: 47px;
    }
    a {
      border-bottom: 3px solid transparent;
      display: block;
      line-height: 44px;
      margin-right: 12px;
      &:last-child {
        margin-right: 0;
      }
      &.active {
        color: $green;
        border-bottom: 3px solid $green;
        .red & {
          color: $red;
          border-color: $red;
        }
      }
      &:hover {
        color: $green;
        .red & {
          color: $red;
        }
      }
    }
  }
}

.sidebar-container {
  width: 276px;
}

.sidebar-buttons {
  margin: 24px 24px 0 24px;
  button {
    background: transparent;
    border: 1px solid $green;
    color: $green;
    font-size: 13px;
    font-weight: 500;
    line-height: 46px;
    padding: 0;
    .red & {
      border-color: $red;
      color: $red;
    }
    &:hover, &:active {
      border-color: $light-green;
      color: $light-green;
      .red & {
        border-color: $light-red;
        color: $light-red;
      }
    }
  }
}
